Adafruit-PlatformDetect>=3.89.0
Adafruit-PureIO>=1.1.7
binho-host-adapter>=0.1.6
pyftdi>=0.40.0
packaging>=20.0
adafruit-circuitpython-typing
sysv_ipc>=1.1.0;sys_platform=='linux' and platform_machine!='mips'
toml>=0.10.2;python_version<'3.11'
